.claimNitro {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: blue;
  color: red;
  font-size: 27px;
  border-color: aqua;
}

.nitroLogo {
  width: 40vmin;
  height: 40vmin;
}
